
.left-sidebar{
    background-color: #3a3939;
    height: 86.3vh;
    width: 15%;
    margin: 2px 0;
}
.left-sidebar ul{
    align-items: center;
}
.left-sidebar li{
    padding: 10px 50px;
    font-size: 17px;
    font-weight: 500;
}
.left-sidebar li a{
    display: inline-flex;
    text-decoration: none;
    color: #fff;
}

.left-sidebar li:hover{
    background-color: #fff;
    color: #3a3939;
}
.left-sidebar li:hover a{
    color: #3a3939;
}
.left-sidebar li i{
    padding-right: 10px;
}